#======================================================================
# Project settings
#======================================================================
env:
  global:
  - secure: RHwzxA4rRtHo2xyj6t5euy/tIqeHzOyTNnjCewEVHHaoE2ZebY0mwUdozqumBLs5Vsa+1fzzcMSOdg8uostMyAwp97okmcDc3I5VFhnEZIb51BdvTfnWSQQDp3oM8/urNX45o/rcyo4W/+TE8BOGFEt9E0wSN3tWn6k1bwc9DGBaL1YMjMdoX+i0ErVhve/vyc3a1/SxrUjfTk/rNJQU7MHiuCT2Atrak/y+WVTj24aBeu3ud++tc9IgPHpPRjTV2wSO1xCFHBjArUYIYk12vAuTz5VX7q9iL7Cu764sk7C8OsWw6XiIukRbEWPijFTYcmjaIG5MRJ9BUddtgeiqPUP/L2yvPKjTroff17b95ouDQ2abtmNtVP1gzmH3G94F9v7xMpFpt/WhuuvFVHAoP1x4PvgfDrsT2s0AXXvHreQV5VjcKK9hAuLUmshEQrFPKP8j7PCDHnvOoEwEbsW1rkwUTzHau3K+IsRtD75VgySuRFSEAxXdmF7JMu6c0Ep31W2o07Ux3H/ApYhrAF/0n8xJVU04l6EnUWs6hP0zB/+2YkvXSc4vFrY/Nb6HVyAU0Darx6JN2rzFNLueycSrIPIJH3zUavHa2dWIwpK2Q+xA/T0Nvk6yqhf8pyANjA7RrjvIxxDZe2CPK9lixp4Yig85gMqnc/ZY+9LQta6KvLA=
  - secure: Vp34k7oaVeYtY2k4F0hWXCFnAvP2a3PTpAcHxfL6gtAmUkVub1IZIoZTdQZRnZGwGHYEtkL96e5MSuPtKXMYECvloPNaSPnzZsAO+MH8weSY60gRLQbkzaTr32oLoNAqCcvYCKbEeIGRvxy4jS8fDFPgTh4aWWKAp8LF5JNVg47mJCr2qXpAGx6lMdpyw67RRK9Y+7+ScTpMXW/ARk1ZH6LD9zF/5IDruVseKDpqSiZvwk+m8pyH3iBJ7j7Y7XFbDLdRFMfwBLYfo0piQ0kfNBCl+VTCDxLXm5o8EpvQuCQ52Wqjx1/HOQ+bN6vBD73y1cgMCDSTMizwD5HnZXTC1SKexysbso57g1vm1uYvb0v2Tk09q5J+cSxQsEBbeqrVQLBHoA3uPLeZ6sPkT4EUTY6kzLTB2XZKEu8HHd7U/EpMX76zojKrhgCmCRhwKW0X15LW4uNFj/pNoduDajocyGhlPy/JwvaJB9Syn6ZagK1RoP/UysuezDOCkHIHqzs0UtJfR5pRixF3+Dh09RPzc5PVo+GViL2hFDHJdnlu2qkYd2DuH1zw0Ys6MW+APOL2U2t5eIf7T04KbUcyTRe4oPZ69J1qva3IafH5tiRVKz11VHegJc4w1BULbgvPP04Bd53GgcEaSNPDmuvysd7pANHr5/ZG5vZ4SxJM+4wJntc=
  - secure: B9Tw4DAA9GSK0ghghwFpA63t/aULd2YfKNNsY2MZD4jDatFxbrV2cjOi8YUcOAYi3SPYpr4KXFdeUeB2CQNst7BdR1l8u2b3DHa6hPrjMXXR0wgsfZ12wkVjShwsvk/Xm+vcWYTJnPz5ria+zp2IS5zm1xiHZl80+blC82Ocon3r2rQmq5uLDP9Gl29lxkBPgnYGX4jCS5bx6SeERWA0vB1o/4ljazI8iJjAuXWWhKUuoUARCdVqTzghp22+H2WVnoD2CPMdZcoH7gfSYfQV3xlpE5vcV14FmDWgOXeXqN6cezGFQtsoLGwwd4YlCh9rT5/mdNQ7amYcnpKWvleVr2eXE+BMQYRul0qVwRaiDoQyPLGape0lTaR7YHUUm6E4lonKaeJMbtSJv8gO2CDmH2zl9FBxmFPCh9c2Mz/SOdPY1e1Wt5WMmcbbOhu1Hx/QfnYffDUMF0N0XZwFVZylm1ivx2XUhR25MOFUHNqt3ryijiLbI0Q8FLzIn0hZciYAtCqXekdnMaHCWv1ugMJTQxnInl79IONP1TXwomO4gPn7RBMSQ8PtYLH03zcYpGCPXPAj8ZY0rim0G1qpXfbNmIhXKwFNAdV5d+9gb2zl2oGI/SLEAxfYPvkMpi3Mg1550pta1m3oMGVtcqGABWNf175YNgHXuYL1/tevE5EDDyk=

branches:
  only:
  - develop
language: cpp
services:
  - docker
before_install:
  - echo $TRAVIS_PULL_REQUEST
  - echo $TRAVIS_PULL_REQUEST_BRANCH
  - echo $TRAVIS_BRANCH
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"
  - pwd
  - ls
  - cd CI
  - REPO_SOURCE_DIR=${TRAVIS_BUILD_DIR}/jcsda/src_repo
  - git clone -b feature/parallel-testing https://${GH_TOKEN}@github.com/jcsda/jedi-build-package.git ${REPO_SOURCE_DIR}/jedi_build_package

  - docker pull jcsda/docker-clang-mpich-dev
  - docker images

script:
  - docker run -d -t --env GH_TOKEN=$GH_TOKEN --env AWS_ACCESS_KEY_ID=$aws_access_key_id --env GH_BRANCH=$BRANCH --env AWS_SECRET_ACCESS_KEY=$aws_secret_access_key --name clang_container -v ${REPO_SOURCE_DIR}/jedi_build_package:/jcsda/src_repo jcsda/docker-clang-mpich-dev

  - docker exec clang_container bash -c 'mkdir ~/.aws'
  - docker exec clang_container bash -c 'echo [default] >> ~/.aws/credentials '
  - docker exec clang_container bash -c 'echo aws_access_key_id = $aws_access_key_id >> ~/.aws/credentials'
  - docker exec clang_container bash -c 'echo aws_secret_access_key = $aws_secret_access_key >> ~/.aws/credentials'
  - docker exec clang_container bash -c 'ls /jcsda/src_repo'
  - docker exec clang_container bash -c 'cd /jcsda/src_repo && pip install --user -e .'

  - travis_wait 110 docker exec clang_container bash -c 'cd /jcsda/src_repo && ~/.local/bin/jedi-build --gh-token=$GH_TOKEN -j 4 --env-id=docker-clang --branch-map atlas:release-stable fckit:release-stable -br $GH_BRANCH -p saber -vvv -3 -u --submit-dashboard --site TravisCI --abort-on-build-errors --abort-on-test-errors'
